html{
	background-color: #fafcfc;
}

body{
	/*font-family: 'Oswald', sans-serif;*/
	background-color: : #e9ecf2; 
	max-width: 1050px; 
	margin: 0 auto;
	color: rgb(49, 46, 46);
}

a{
	text-decoration: none; 
	color: inherit;
}

a:hover{
	color: #0e69e9; 
}

header h1{
	font-family: 'Lobster', cursive;
	font-size: 50px;  
}

header li{
	font-family: 'Oswald', sans-serif; 
	display: inline;
	font-size: 15px; 
	text-align: right;
}

footer li{
	font-family: 'Oswald', sans-serif; 
	display: inline;
	font-size: 15px; 
}

header, footer{
	background: #050505;
	color: white; 
	padding: 10px 10px; 
}


ul{
	margin: 0; 
	padding: 0;
}

li{
	list-style: none; 
}

/*Main section style*/
main{
	display: inline-block;
	width: 1000px; 
	padding: 25px; 
	background-image: url("../img/world-map.png");
	background-size: cover; 
	background-attachment: fixed;
}

/*Home*/

.top_page h1{
	font-size: 60px; 
	font-family: 'Vollkorn', serif;
}
.top_page p{
	font-size: 25px; 
	font-family: 'Source Sans Pro', sans-serif;
}

.top_page a{
	font-size: 25px; 
	font-family: 'Source Sans Pro', sans-serif;
	padding: 15px; 
	margin: 40px 160px; 
	display: inline-block;
	background: #2991d6;
	border-radius: 15px; 
	color: white;
}

.top_page a:hover{
	color: #0e69e9; 
}

.about_us h2{
	font-size: 40px; 
}

.about_us p{
	font-size: 20px; 
}

/*About Us*/

.description{
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
	border: 5px solid black;
	margin: 5px;
	padding: 10px;
	display: inline-block;
	width: 800px;
}

.description p{
	font-size: 20px; 
}

.description a{
	font-size: 20px; 
}

/*Resources*/

.resources {
	font-family: 'Source Sans Pro', sans-serif;
}
.resources h2{
	font-size: 40px;
}

.resources p {
	font-size: 20px; 
}

.subjects {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
}

.subjects h3 {
	font-size: 40px; 
}

.subjects p {
	font-size: 20px; 
}


.english {
	width: 400px; 
	height: 250px; 
	display: inline-block;
	margin: 10px; 
	text-align: center;
	padding: 10px; 
	background-image: url(../img/english.jpg);
	background-size: cover;
	background-color:rgba(255,255,255,0.6);
	background-blend-mode:lighten;
	border: 5px solid black
}

.english:hover {
	background-color: rgba(142, 173, 232, 0.8);
}

.mathematics {
	width: 400px; 
	height: 250px;
	display: inline-block;
	margin: 10px; 
	text-align: center;
	padding: 10px; 
	background-image: url(../img/math.jpg);
	background-size: cover;
	background-color:rgba(255,255,255,0.6);
	background-blend-mode:lighten;
	border: 5px solid black
}

.mathematics:hover {
	background-color: rgba(142, 173, 232, 0.8);
}

.physics {
	width: 400px; 
	height: 250px;
	display: inline-block;
	margin: 10px; 
	text-align: center;
	padding: 10px; 
	background-image: url(../img/physics.jpg);
	background-size: cover;
	background-color:rgba(255,255,255,0.8);
	background-blend-mode:lighten;
	border: 5px solid black
}

.physics:hover {
	background-color: rgba(142, 173, 232, 0.8);
}

.chemistry {
	width: 400px; 
	height: 250px;
	display: inline-block;
	margin: 10px; 
	text-align: center;
	padding: 10px; 
	background-image: url(../img/chemistry.jpg);
	background-size: cover;
	background-color:rgba(255,255,255,0.6);
	background-blend-mode:lighten;
	border: 5px solid black
}

.chemistry:hover {
	background-color: rgba(142, 173, 232, 0.8);
}

/* Review */

.review {
	font-family: 'Source Sans Pro', sans-serif;
}
.review h2{
	font-size: 40px;
}

.review p {
	font-size: 20px; 
}

/*About English in resources page*/

.reading {
	font-family: 'Source Sans Pro', sans-serif;
}
.reading h2{
	font-size: 40px;
}

.reading p {
	font-size: 20px; 
}

.reading a{
	font-size: 15px; 
	font-family: 'Source Sans Pro', sans-serif;
	padding: 8px; 
	border-radius: 8px; 
	color: white;
}

.reading .h{
	background: #ed2f21;
}

.reading .h-i{
	background-color: #fa632f; 
}

.reading .i{
	background-color: #fa982f; 
}

/*listening content*/

.listening {
	font-family: 'Source Sans Pro', sans-serif;
}
.listening h2{
	font-size: 40px;
}

.listening p {
	font-size: 20px; 
}

.listening a{
	font-size: 15px; 
	font-family: 'Source Sans Pro', sans-serif;
	padding: 8px; 
	border-radius: 8px; 
	color: white;
}

.listening .h{
	background: #ed2f21;
}

.listening .h-i{
	background-color: #fa632f; 
}

.listening .i{
	background-color: #fa982f; 
}